.galery-section .container {
    padding-bottom: 50px;
}

.galery-title {
    width: 100%;
}

.galery-title h2 {
    border-top: #083919 solid 1px;
    padding-top: 30px;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 30px;
    padding: 30px;
    text-align: left;
}

.galery-list-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.galery-list {
    display: flex;
    margin: 0px 20px;
    align-items: center;
    justify-content: center;
}

.galery-list .left{
    width: 50%;
    max-width: 500px;
}

.galery-list .right{
    width: 50%;
    max-width: 500px;
    display: flex;
    flex-wrap: wrap;
}

.galery-list .galery-card {
    position: relative;
    cursor: pointer;
}

.galery-list .left .galery-card {
    padding-top: 100%;
}

.galery-list .right .galery-card {
    padding-top: 50%;
}

.galery-list .galery-card img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    border-radius: 30px !important;
    overflow: hidden;
    object-fit: cover;
    padding: 10px;
}

.galery-list .right .galery-card{
    width: 50%;
}

.galery-title {
    display: flex;
    justify-content: center;
}

.galery-list {
    align-items: center;
}

.galery-section .galery-title h2 {
    text-align: center;
    width: 100%;
}

@media (max-width: 768px) {   
    .galery-list {
        flex-direction: column;
    }

    .galery-list .left{
        width: 80%;
    }
    
    .galery-list .right{
        width: 80%;
    }

    .galery-list .galery-card img {
        padding: 5px;
        width: 100%;
    }
}

@media (max-width: 576px) {
    .galery-section .galery-title h2 {
        font-size: 30px;
        text-align: center;
        width: 80%;
        padding-top: 20px;
        padding-bottom: 0px;
    }
    
    .galery-list .left{
        width: 80%;
    }
    
    .galery-list .right{
        width: 80%;
    }
}