.modal-content {
    background-color: #E8F3EB;
}


.modal-content .modal-body {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.modal-content .modal-body img {
    width: 75%;
    height: max-content;
}

@media (max-width: 992px){
    .modal-content .modal-body img {
        width: 100%;
        height: max-content;
    }
}