.notfound-section {
    padding: 30px 0px;
    align-content: center;
    overflow: hidden;
}

.notfound-section .bg-text {
    font-size: 100px;
    font-weight: bold;
    text-align: left;
    color: #08391977;
    margin: 0px;
    border-spacing: 0px;
    width: 5000%;
    overflow: visible;
    align-content: center;
}

.notfound-section .bg-text.top {
    translate: -400px;
}

.notfound-section .bg-text.bottom {
    padding-top: 20px;
    translate: -550px;
}

.notfound-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.notfound-container h1 {
    font-size: 220px;
    font-weight: bold;
    color: #083919;
    border-spacing: 0px;
}

.notfound-container h2 {
    font-size: 30px;
    font-weight: bold;
    color: #0E602A;
    padding-bottom: 20px;
    margin-bottom: 10px;
}

.button-container{
    width: 100%;
    display: flex;
    justify-content: center;
}

.home-button{
    background-color: #083919;
    border-radius: 15px;
}

.home-button a {
    color: #E8F3EB;
    text-decoration: none;
}

.home-button a p {
    padding: 5px 20px;
    font-size: 20px;
    margin: 0px;
}

.home-button a p i {
  margin-left: 10px;
  text-align: center;
}

@media (max-width: 992px) {
    .notfound-section{
        min-height: 1000px;
    }
}

@media (max-width: 576px) {
    .notfound-section{
        min-height: 800px;
    }

    .notfound-section .bg-text {
        font-size: 80px;
    }

    .notfound-container h1 {
        font-size: 180px;
    }
    
    .notfound-container h2 {
        font-size: 25px;
    }
}